extends list
block contentAdd
	h4= subTitle
	h5= added
	div.col-sm-4
		form(method="POST", action="/add")
			.form-group
				label Title
				input(type="text", class="form-control") 
				label Title
				input(type="text", class="form-control") 
				label Title
				input(type="text", class="form-control") 
				label Title
				input(type="text", class="form-control") 
				input(type="submit", value="Add Job")
				
	









