doctype html
html
	head
		title= page_title
		link(rel="stylesheet", href="bootstrap.min.css")
	body
		div.container
			div.row.clearfix
				div.col-md-12.column
					div.jumbotron
						h1 JobBoard
						p jobs for everyone	
					block content
