extends layout
block content 
	block contentAdd
	div.col-sm-12
		h3= page_title
		ul
			each val in arrayJobs	
				- var title = val.getJob().title;
				- var posted = (val.getJob().posted ? 'posted':'unposted');

				- var ctgs = (val.getJob().categories ? val.getJob().categories.toString() : 'No categories defined');
				li= title
					ul
						li= posted
						li= ctgs
		
